<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Shayka Islam</title>
  <meta name="title" content="Shayka Islam">
  <meta name="description" content="This ia a personal portfolio where information about me is provided">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./images2/favicon2.png" type="image/png">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./achievements.css">

  <!-- 
    - custom font link
  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="./font/font.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./images2/favicon2.png">
  <link rel="preload" as="image" href="./images2/loading-circle.svg">

</head>
</head>
<body class="active">

    <!-- 
    -#PRELOADING
  -->

  <div class="loading" data-loading>
    <img src="./images2/favicon2.png" width="55" height="55" alt="loading" class="img">
    <img src="./images2/loading-circle.svg" width="70" height="70" alt="" class="circle">
  </div>
    
   <!-- 
    Header Part

    -->

    <header>
      <div class="logo">
           shipra...
      </div>

      <ul class="navlist">
        
        <li><a href="./index.html">Myself</a></li>
        <li><a href="./education.html">Education</a></li>
        <li><a href="./skill.html">Skill</a></li>
        <li><a href="./achievements.html">Achievement</a></li>
        <li><a href="./project.html">Project</a></li>
        <li><a href="#contact" >Contact Me</a></li>
      </ul>
      <div id="menu-icon" class="menu-icon">
        <img src="images2/menu.svg" alt="" height="22px" width="22px">
         
      </div>
    </header>

  <!-- 
    main part starting
   -->

   <main>
    
<article>
    <hr class="hr-break">
    <div class="card-container">
        <!-- card 1 -->
        <div class="card">
            <img src="" alt="">
            <!-- card content -->
            <div class="card-content">
                <h3>Singing</h3>
                <p>I have earned several prices in singing competitions in several categories</p>
                <a href="" class="btn">Documents</a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <img src="" alt="">
            <!-- card content -->
            <div class="card-content">
                <h3>Singing</h3>
                <p>I have earned several prices in singing competitions in several categories</p>
                <a href="" class="btn">Documents</a>
            </div>
        </div>

        <!-- Card 3 -->

        <div class="card">
            <img src="./images2/education-1.png" alt="">
            <!-- card content -->
            <div class="card-content">
                <h3>Singing</h3>
                <p>I have earned several prices in singing competitions in several categories</p>
                <a href="" class="btn">Documents</a>
            </div>
        </div>

        
    </div>

</article>


   </main>

  <!-- 
    java script file
   -->
   <script src="./script.js"></script>
    
</body>
</html>