<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Shayka Islam</title>
  <meta name="title" content="Shayka Islam">
  <meta name="description" content="This ia a personal portfolio where information about me is provided">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./images2/favicon2.png" type="image/png">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./education.css">

  <!-- 
    - custom font link
  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="./font/font.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./images2/favicon2.png">
  <link rel="preload" as="image" href="./images2/loading-circle.svg">

</head>
</head>
<body class="active">

    <!-- 
    -#PRELOADING
  -->

  <div class="loading" data-loading>
    <img src="./images2/favicon2.png" width="55" height="55" alt="loading" class="img">
    <img src="./images2/loading-circle.svg" width="70" height="70" alt="" class="circle">
  </div>
    
   <!-- 
    Header Part

    -->

    <header>
      <div class="logo">
           shipra...
      </div>

      <ul class="navlist">
        
        <li><a href="./index.html">Myself</a></li>
        <li><a href="./education.html">Education</a></li>
        <li><a href="./skill.html">Skill</a></li>
        <li><a href="./achievements.html">Achievement</a></li>
        <li><a href="./project.html">Project</a></li>
        <li><a href="#contact" >Contact Me</a></li>
      </ul>
      <div id="menu-icon" class="menu-icon">
        <img src="images2/menu.svg" alt="" height="22px" width="22px">
         
      </div>
    </header>

  <!-- 
    main part starting
   -->

   <main>
    
<article>
    <hr class="hr-break">

    <!-- Timeline  -->

          <div class="timeline">
        
    <!-- 1 -->
        <div class="container left-container">
            <img src="./images2/education-1.png" alt="" class="logo">
            <div class="text-box">
                <h2>New Holy Child Public School</h2>
                <small>2006-2010</small>
                <p>Embarkment of Life's Initial Ethereal Education</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

<!-- 2 -->
        <div class="container right-container">
            <img src="./images2/education-2.png" alt="" class="logo">

            <div class="text-box">
                
                <h2>Shamsul Haque Khan School & College</h2>
                <small>2006-2010</small>
                <p>Embarkment of Life's Initial Ethereal Education</p>
                <span class="right-container-arrow"></span>

            </div>
        </div>

      <!-- 3 -->
      
        <div class="container left-container">
            <img src="./images2/education-2.png" alt="" class="logo">

            <div class="text-box">
                <h2>Shamsul Haque Khan School & College</h2>
                <small>2006-2010</small>
                <p>Embarkment of Life's Initial Ethereal Education</p>
                <span class="left-container-arrow"></span>

            </div>
        </div>
     

      <!-- 4 -->
     
        <div class="container right-container">
            <img src="./images2/education-3.png" alt="" class="logo">

            <div class="text-box">
                <h2>Khulna University of Engineering & Technology</h2>
                <small>2006-2010</small>
                <p>Embarkment of Life's Initial Ethereal Education</p>
                <span class="right-container-arrow"></span>

            </div>
        </div>

        <!-- End of Timeline -->
      </div>


</article>


   </main>

  <!-- 
    java script file
   -->
   <script src="./education.js"></script>
    
</body>
</html>