<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Shayka Islam</title>
  <meta name="title" content="Shayka Islam">
  <meta name="description" content="This ia a personal portfolio where information about me is provided">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./images2/favicon2.png" type="image/png">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./style.css">

  <!-- 
    - custom font link
  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="./font/font.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./images2/favicon2.png">
  <link rel="preload" as="image" href="./images2/loading-circle.svg">

</head>
</head>
<body class="active">

    <!-- 
    -#PRELOADING
  -->

  <div class="loading" data-loading>
    <img src="./images2/favicon2.png" width="55" height="55" alt="loading" class="img">
    <img src="./images2/loading-circle.svg" width="70" height="70" alt="" class="circle">
  </div>
    
   <!-- 
    Header Part

    -->

    <header>
      <div class="logo">
           shipra...
      </div>

      <ul class="navlist">
        
        <li><a href="./index.html">Myself</a></li>
        <li><a href="./education.html">Education</a></li>
        <li><a href="./skill.html">Skill</a></li>
        <li><a href="./achievements.html">Achievement</a></li>
        <li><a href="./project.html">Project</a></li>
        <li><a href="#contact" >Contact Me</a></li>
      </ul>
      <div id="menu-icon" class="menu-icon">
        <img src="images2/menu.svg" alt="" height="22px" width="22px">
         
      </div>
    </header>

  <!-- 
    main part starting
   -->

   <main>
    <article>
        <section class="section shipra" id="home" aria-label="home">
        <div class="container">

            <img src="./images2/dp_rounded.png" class="firstdp" width="322" height="322" Shayka ISlam Shipra" srcset="">
            <div class="Shipra_Content">
                        

            <h1 class="h1 shipra-title">Shayka Islam</h1>

            <div class="wrapper h2">
              <strong class="strong" data-letter-effect>Student</strong>
              <strong class="strong" data-letter-effect>Programmer</strong>
              <strong class="strong" data-letter-effect>Developer</strong>
            </div>

            <p class="shipra-text">KUET CSE 2k20</p>


            <!-- Button Download Option -->

            <div class="button-box">
              <a href="#" class="btn">Download CV</a>
              <a href="#" class="btn">Hire Me</a>
            </div>

            <div class="socia-icons">
                 <a href="#" class="social github"><i class='bx bxl-github bx-tada' style='color:#ffffff' ></i></a>
                 <a href="#" class="social facebook"><i class='bx bxl-facebook-circle bx-spin' style='color:#ffffff' ></i></a>
                 <a href="#" class="social instagram"><i class='bx bxl-instagram bx-tada bx-rotate-90' style='color:#ffffff' ></i></a>
                 
            </div>

          </div>

        
            </div>

                    <img src="./images2/spiral.svg" width="211" height="189" alt="erroooooooooooor" class="shape">

        </div>

  </section>
   

     <!-- 
        - #ABOUT
      -->
 <section class="section about" id="about" aria-label="about me">
        <div class="container">

          <div class="about-content">

            <h2 class="h2 section-title" data-reveal="right">
              Hello. I’m <br>
              Shayka Islam Shipra
            </h2>

            <div class="wrapper has-before" data-reveal="right">

              <p class="section-text">
                 I am a 3rd-year student pursuing Computer Science and Engineering at KUET. A passionate programmer with a keen interest in photography. Beyond coding, I enjoy capturing moments through my lens. I have garnered recognition, including prizes and medals, for my proficiency in debate and singing competitions. Eager to learn, grow, and contribute to the world of technology and creativity.
              </p>

              <img src="./images2/signature2.png" width="151" height="92" loading="lazy" alt="signature"
                class="img">

            </div>

          </div>

          <figure class="about-banner" data-reveal="left">

            <div class="img-holder has-before" style="--width: 512; --height: 684;">
              <img src="./images2/profile1.jpg" width="512" height="684" loading="lazy" alt="Shayka Islam Shipra"
                class="img-cover">
            </div>

            <!-- <img src="/images2/about-shape-1.png" width="178" height="178" loading="lazy" alt=""
              class="shape shape-1"> -->

            <img src="/images2/about-shape-2.svg" width="659" height="653" loading="lazy" alt=""
              class="shape shape-2">

          </figure>

          <img src="/images2/about-shape-3.svg" width="239" height="232" loading="lazy" alt=""
            class="shape shape-3">

        </div>
      </section>

     </article>
   </main>

  <!-- 
    java script file
   -->
   <script src="./script.js"></script>
    
</body>
</html>