<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Shayka Islam</title>
  <meta name="title" content="Shayka Islam">
  <meta name="description" content="This ia a personal portfolio where information about me is provided">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./images2/favicon2.png" type="image/png">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./project.css">

  <!-- 
    - custom font link
  -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="./font/font.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./images2/favicon2.png">
  <link rel="preload" as="image" href="./images2/loading-circle.svg">

</head>
</head>
<body class="active">

    <!-- 
    -#PRELOADING
  -->

  <div class="loading" data-loading>
    <img src="./images2/favicon2.png" width="55" height="55" alt="loading" class="img">
    <img src="./images2/loading-circle.svg" width="70" height="70" alt="" class="circle">
  </div>
    
   <!-- 
    Header Part

    -->

    <header>
      <div class="logo">
           shipra...
      </div>

      <ul class="navlist">
        
        <li><a href="./index.html">Myself</a></li>
        <li><a href="./education.html">Education</a></li>
        <li><a href="./skill.html">Skill</a></li>
        <li><a href="./achievements.html">Achievement</a></li>
        <li><a href="./project.html">Project</a></li>
        <li><a href="#contact" >Contact Me</a></li>
      </ul>
      <div id="menu-icon" class="menu-icon">
        <img src="images2/menu.svg" alt="" height="22px" width="22px">
         
      </div>
    </header>

  <!-- 
    main part starting
   -->

   <main>
    
<article>
    <hr class="hr-break">
  <section id="projects">
      
         
       

                
            <div id="projectContent">

                
                <ul id="prImg" style="display: block;" class="projectContent-list-container">
                    

                    <li class="project-lists">

                        <div class="project-details-container">
                            
                            <div class="project-image-container">
                                <img src="./images2/project/project-1.png" alt="Pay Online" class="project-pic">
                            </div>

                            <div class="project-text-container">
                                <h3 class="pr-title">Pay Online</h3>
                                <p class="pr-subtitle">A OOP based project</p>
                                <p class="pr-paragraph">
                                    This is a C++ project,where I have used four main concepts of OOP -Abstraction,Encapsulation,Inheritance & Polymorphism
                                </p>
                                <div class="btn-container-load">
                                    <button id="btnImg" class="btn btn-color-2 button-projects-load" onclick="window.open('https://github.com/shaykashipra/Pay-Online.git')">Details</button>
                                </div>
                            </div>

                        </div>
                        <hr class="hr-break">

                    </li>

                    <li class="project-lists">

                        <div class="project-details-container">
                            
                            <div class="project-image-container">
                                <img src="./images2/project/project-2.jpeg" alt="Pet Care Hub" class="project-pic">
                            </div>

                            <div class="project-text-container">
                                <h3 class="pr-title">Pet Care Hub</h3>
                                <p class="pr-subtitle">This project is java based Android studio project</p>
                                <p class="pr-paragraph">
                                    This is a very basic Android projrct,where shop management and hospital management system was implemented.
                                    there is 3 sections.Admin,General User & Doctor.
                                </p>
                                <div class="btn-container-load">
                                    <button id="btnImg" class="btn btn-color-2 button-projects-load" onclick="window.open('https://github.com/shaykashipra/Pet-Care-Hub.git')">Details</button>
                                    <button id="btnImg" class="btn btn-color-2 button-projects-load" onclick="window.open('https://drive.google.com/file/d/1b7x7b5ziAxjvAdDZQH2gfBSSyTnc3jKQ/view?usp=sharing')">PPT</button>
                                </div>
                            </div>

                        </div>
                        <hr class="hr-break">

                    </li>


                </ul>
                
                <ul id="prDL" style="display: block;" class="projectContent-list-container">

                    <li class="project-lists">

                        
                        <div class="project-details-container">
                            
                            <div class="project-image-container">
                                <img src="./images2/project/project-3.png" alt="Card Matching Game" class="project-pic">
                            </div>

                            <div class="project-text-container">
                                <h3 class="pr-title">Card Matching Game</h3>
                                <p class="pr-subtitle">Basic JavaScript</p>
                                <p class="pr-paragraph">
                                    This project is based on html,css,JS. The significance of this project is to implement the basics of java and make a responsive website.
                                </p>
                                <div class="btn-container-load">
                                    <button id="btnImg" class="btn btn-color-2 button-projects-load" onclick="window.open('https://github.com/shaykashipra/Card-Matching-Game.git')">Details</button>
                                    <button id="btnImg" class="btn btn-color-2 button-projects-load" onclick="window.open('https://drive.google.com/file/d/1i0ScLxU2DUPtmI8WGLsOhzwbXrg2GNUg/view?usp=sharing')">Report</button>
                                    <button id="btnImg" class="btn btn-color-2 button-projects-load" onclick="window.open('https://drive.google.com/file/d/1sLsXitjBFAlR87tJEVOTNEmVywZnvICU/view?usp=sharing')">PPT</button>
                                </div>
                            </div>

                        </div>
                        <hr class="hr-break">

                    </li>

                  

                </ul>


              
        <div class="bottom-container"><p class="scroll__text">Next</p>
        <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#achievements'"></div>

    </section>




</article>


   </main>

  <!-- 
    java script file
   -->
   <script src="./project.js"></script>
    
</body>
</html>